/* File Browser */
.filebrowser {
    position: fixed;
    top: 165px;
    bottom: 15px;
    left: 275px;
    right: 15px;
    z-index: 100;
    display: none;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    overflow: hidden;
    text-align: left;
}

.fb-titlebar {
    float: left;
    width: 100%;
    padding: 15px 15px 0 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.fb-titlebar i {
    height: 25px;
    vertical-align: middle;
    font-size: 21px;
    color: #2176d6;
}

.fb-titlebar button i {
    min-width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    color: #333;
    font-size: 13px;
}

.fb-titlebar button {
    height: 15px;
    padding: 0 5px;
    line-height: 15px;
}

.fb-actions {
    float: left;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.fb-actions hr {
    float: left;
    width: 1px;
    height: 28px;
    margin: 0 10px 0 5px;
    background-color: #ccc;
    border: none;
}

.fb-actions button, .fb-actions a {
    float: left;
    margin-right: 5px;
}

.fb-titlebar .fb-btn-back {
    display: none;
}

.fb-fileview {
    float: left;
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    padding: 25px 35px;
    overflow-y: auto;
}

.fb-table {
    float: left;
    width: 100%;
    margin: 15px 0;
}

.fb-table tr:hover {
    background-color: #eee;
}

.fb-table .check-cell {
    text-align: center;
}

.fb-dirs {
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}

.fb-file a {
    float: left;
}

.fb-file p {
    display: inline-block;
    vertical-align: middle;
}

.fb-dir i, .fb-file i {
    font-size: 17px;
    color: rgba(0, 0, 0, .6);
}

#new-folder-form {
    float: left;
    min-width: 500px;
}

.fb-btn-delete {
    float: right;
    color: #cc4646;
}

.fb-upload {
    position: absolute;
    top: 0px;
    left: 15px;
    right: 15px;
    bottom: 71px;
    z-index: 100;
    transform: translate(0, 1000px);
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.fb-upload.open {
    transform: translate(0, 50px);
}

.fb-upload .fb-btn-close-upload {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
}

.filebrowser .dropzone {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px dashed #2176d6;
}

.filebrowser .dropzone .dz-default.dz-message {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -7px;
    text-align: center;
}

.fb-thumbnail {
    display: inline-block;
    width: 20px;
    overflow: hidden;
    margin-right: 10px;
    vertical-align: middle;
}