/* Forms */
label,
.label {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
}

label.inline,
.label-inline {
    vertical-align: middle;
    display: inline-block;
    height: 28px;
    margin: 0;
    line-height: 28px;
    font-size: 13px;
    font-weight: 700;
}

label.required:after {
    vertical-align: middle;
    margin-left: 3px;
    content: '\f069';
    color: #ff6d6d;
    font-family: 'Font Awesome 5 Free';
    font-size: 6px
}

label.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    color: rgba(51, 51, 51, 0.5);
    font-family: 'Open Sans';
}

input[type="text"] {
    -webkit-appearance: none;
}

input,
textarea,
select, 
option {
    vertical-align: middle;
    height: 28px;
    overflow: hidden;
    padding: 0 15px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: inherit;
}

select {
    height: 28px;
    padding: 0px 9px;
    text-indent: 0px;
}

option {
    height: 28px;
    line-height: 28px;
}

.dark-theme input,
.dark-theme textarea,
.dark-theme select {
    background-color: #333;
    border: 1px solid #353535;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.5);
    color: #eee;
}

input[type="checkbox"] {
    box-shadow: none;
}

input[type="radio"] {
    box-shadow: none;
    vertical-align: middle;
}

input[type="submit"] {
    cursor: pointer;
    letter-spacing: inherit
}

input[type="color"] {
    padding: 0;
}
input[type="password"]::-ms-reveal {
    display: none; /* Disabled in favor of my own version of this until all browsers have a password reveal button or something better. */
}

textarea {
    padding: 10px 15px 0 15px;
    min-height: 175px;
    height: auto;
}

input[type="text"]:disabled, select:disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    color: rgba(51, 51, 51, 0.5);
    font-family: 'Open Sans';
}

input.error,
textarea.error,
select.error, 
option.error {
    border: 1px solid #ff6868;
    box-shadow: 0 0 3px 1px rgba(226, 69, 69, 0.3);
}

.dark-theme ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #777;
    opacity: 1;
}

.dark-theme ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #eee;
}

.label-col,
.input-col {
    position: relative;
    float: left;
    height: 26px;
}

.label-col label,
.info-col {
    height: 26px;
    line-height: 26px;
    margin: 0;
}

.info-col {
    float: left;
    margin-left: 50px;
    color: #777;
}

.password-strength {
    position: absolute;
    top: 50%;
    right: 75px;
    visibility: visible;
    font-size: 12px;
    text-align: center
}

.fancy-form .password-strength {
    top: 30%;
}

.show-pw {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 100;
    font-size: 17px;
    cursor: pointer
}

.show-pw i {
    float: left;
}

.red-herring {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden
}

.input-attached-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-attached-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}