/* Header */
.header {
    height: 60px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #aaa;
}

.dark-theme .header {
    background-color: #222;
    border-bottom: 1px solid #111;
}

/* Search */
.search {
    position: relative;
    float: left;
    margin-top: 5px;
    padding: 10px 0 10px 12px;
    border-left: 1px solid #ddd;
    text-align: left;
}

.dark-theme .search {
    border-left: 1px solid #444;
}

.search-icon {
    position: absolute;
    left: 15px;
    width: 40px;
    color: #ddd;
    font-size: 13px;
    text-align: center;
    line-height: 28px;
}

.dark-theme .search-icon {
    color: #e3e3e3;
}

.search input {
    float: left;
    width: 650px;
    padding: 0 15px 0 40px;
    border-radius: 3px;
}

.dark-theme .search input {
    border: 1px solid #555;
}

@media only screen and (max-width:1024px) {
    .search,
    .search input {
        width: 100%;
    }
}

.search-results {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 100;
    clear: both;
    width: 650px;
    max-height: 500px;
    overflow-y: scroll;
    padding: 5px 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

@media only screen and (max-width:1024px) {
    .search-results {
        width: 100%;
    }
}

.dark-theme .search-results {
    background-color: #37383b;
    border: 1px solid #777;
}

.search-results ul {
    list-style: none;
}

.search-results li:hover {
    cursor: pointer;
}

.search-results em {
    float: left;
    width: 100%;
    font-style: normal;
    font-weight: 600;
}

/* Account Navigation */
.account-nav {
    float: right;
    height: 50px;
    margin-top: 14px;
    margin-right: 15px;
    list-style: none;
}

@media only screen and (max-width: 736px) {
    .account-nav {
        display: none;
    }
}

.account-nav .nav-toggle {
    float: left;
    width: 15px;
}

.account-nav li {
    position: relative;
    float: left;
}

.account-nav a,
.account-nav a:visited,
.account-nav button,
.account-nav button:visited {
    float: left;
    padding-right: 5px;
    border-radius: 4px;
    color: #333;
    line-height: 30px;
    font-size: 13px;
    font-family: inherit;
    font-weight: 600;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

@media only screen and (max-width: 768px) {
    .account-nav a,
    .account-nav a:visited,
    .account-nav button,
    .account-nav button:visited {
        width: 30px;
        margin-left: 15px;
        padding: 0;
    }
}

.dark-theme .account-nav a,
.dark-theme .account-nav a:visited,
.dark-theme .account-nav button,
.dark-theme .account-nav button:visited {
    color: #aaa;
}

.account-nav a img,
.account-nav button img {
    float: right;
    height: 32px;
    width: 32px;
    margin-left: 10px;
    border-radius: 50%;
}

.account-nav a i.dd-toggle {
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* .account-nav a:hover,
.account-nav a:focus,
.account-nav a:active,
.account-nav button:hover,
.account-nav button:focus,
.account-nav button:active {
   border: none;
} */

/* .dark-theme .account-nav a:hover,
.dark-theme .account-nav a:focus,
.dark-theme .account-nav a:active,
.dark-theme .account-nav button:hover,
.dark-theme .account-nav button:focus,
.dark-theme .account-nav button:active {
    background-color: #333;
} */

.account-nav .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    margin-top: 10px;
    padding: 0;
    background-color: #f8f8f8;
    border: none;
}

.dark-theme .account-nav .dropdown-menu {
    background-color: #111;
}

.account-nav .dropdown-menu.active {
    padding: 10px 0;
    border: 1px solid #999;
}

.dark-theme .account-nav .dropdown-menu.active {
    border: 1px solid #444;
}

.account-nav .dropdown-menu::after {
    content: '';
    position: absolute;
    top: 0;
    opacity: 0;
    right: 13px;
    width: 12px;
    height: 12px;
    margin-top: -7px;
    background-color: #f8f8f8;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.dark-theme .account-nav .dropdown-menu::after {
    background-color: #111;
}

.account-nav .dropdown-menu.active::after {
    opacity: 1;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.dark-theme .account-nav .dropdown-menu.active::after {
    border-top: 1px solid #444;
    border-right: 1px solid #444;
}

.account-nav .dropdown-menu a,
.account-nav .dropdown-menu a:visited,
.account-nav .dropdown-menu button,
.account-nav .dropdown-menu button:visited {
    width: 100%;
    margin: 0;
    background-color: transparent;
    padding: 0 15px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    text-align: left;
    line-height: 40px;
    white-space: nowrap;
}

.dark-theme .account-nav .dropdown-menu a,
.dark-theme .account-nav .dropdown-menu a:visited,
.dark-theme .account-nav .dropdown-menu button,
.dark-theme .account-nav .dropdown-menu button:visited {
    color: #eee;
}

.account-nav .dropdown-menu.active a,
.account-nav .dropdown-menu.active button {
    height: 40px;
}

.account-nav .dropdown-menu a:hover,
.account-nav .dropdown-menu a:focus,
.account-nav .dropdown-menu a:active,
.account-nav .dropdown-menu button:hover,
.account-nav .dropdown-menu button:focus,
.account-nav .dropdown-menu button:active {
    background-color: #f3f3f3;
}

.dark-theme .account-nav .dropdown-menu a:hover,
.dark-theme .account-nav .dropdown-menu a:focus,
.dark-theme .account-nav .dropdown-menu a:active,
.dark-theme .account-nav .dropdown-menu button:hover,
.dark-theme .account-nav .dropdown-menu button:focus,
.dark-theme .account-nav .dropdown-menu button:active {
    background-color: #333;
}