/* Logo */
.logo {
    float: left;
    width: 260px;
    height: 40px;
    margin-top: 10px;
    background: url(../images/logo_blue.png) no-repeat 50% 50%;
    background-size: 103px 30px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.dark-theme .logo {
    background: url(../images/logo_white.png) no-repeat 50% 50%;
    background-size: 103px 30px;
    border-right: 1px solid #222;
}

@media only screen and (max-width:768px) {
    .logo,
    .dark-theme .logo {
        float: none;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -70px;
        display: block;
        width: 140px;
        height: 43px;
        background-size: 140px 43px;
    }
}