/* Navigation */
.nav {
    position: relative;
    float: left;
    width: 70px;
    z-index: 100;
    overflow: hidden;
    background-color: #222;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.dark-theme .nav {
    background-color: #2e2e2e;
}

@media only screen and (max-width:768px) {
    .nav {
        position: absolute; 
        top: 70px;
        bottom: 0;
        left: auto;
        right: 100%;
        width: 0;
        padding: 10px;
    }
}

.nav.wide {
    width: 260px;
}

@media only screen and (max-width:1024px) {
    .nav.wide {
        width: 70px;
    }

    .btn-menu {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .nav.wide {
        width: 100%;
    }

    .nav.open {
        right: 0;
    }
}

.main-nav {
    float: left;
    width: 100%;
    list-style: none;
}

.main-nav li {
    position: relative;
    float: left;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.main-nav a,
.main-nav a:visited {
    float: left;
    overflow: hidden;
    height: 50px;
    padding: 0;
    width: 100%;
    color: #ddd;
    font-size: 14px;
    line-height: 50px;
    -webkit-transition: padding 0.2s ease-in-out;
    -ms-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
}

@media only screen and (max-width:768px) {
    .main-nav a,
    .main-nav a:visited {
        font-size: 18px;
    }
}

.dark-theme .main-nav a,
.dark-theme .main-nav a:visited {
    color: #eee;
}

.main-nav a:hover {
    color: #959595 !important;
}

.dark-theme .main-nav a:hover {
    color: #a5a5a5 !important;
}

.nav.wide .main-nav a, .nav.wide .main-nav a:visited {
    padding: 0 20px;
}

.main-nav > li:first-child {
    background-color: #111;
}

.dark-theme .main-nav > li:first-child {
    background-color: #000;
}

.nav .main-nav a.current {
    background-color: #2e2e2e;
}

.dark-theme .main-nav a.current {
    background-color: #444;
}

.nav .main-nav a.current:after {
    content: '';
    position: absolute;
    z-index: 100;
    background-color: #eee;
    right: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-right: -15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.dark-theme .nav .main-nav a.current:after { 
    background-color: #111;
}

.nav.wide .main-nav a.current:after {
    content: '';
    position: absolute;
    background-color: #eee;
    right: 20px;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-right: -30px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.dark-theme .nav.wide .main-nav a.current:after {
    background-color: #111;
}

.nav .main-nav a i:first-child {
    width: 70px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav.wide .main-nav a i:first-child {
    width: 50px;
}

.main-nav a i:nth-child(2) {
    float: right;
    height: 50px;
    font-size: 10px;
    line-height: 50px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-toggle {
    margin: 13px 2px 0 0;
    font-family: "Font Awesome 5 Free";
}

.dropdown-menu {
    float:left;
    width: 100%;
    z-index: 100;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    width: 100%;
    height: 0px;
    overflow: hidden;
    border: none;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.main-nav .dropdown-menu {
    background-color: #272727;
}

.dark-theme .main-nav .dropdown-menu {
    background-color: #383838;
}

.main-nav .dropdown-menu.active {
    padding: 5px 0;
    box-shadow: inset 0px 9px 11px -9px #000, inset 0px -9px 11px -9px #000; 
}

.main-nav .dropdown-menu.active a {
    height: 50px;
}

.btn-mobile-menu {
    display: none;
    float: left;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .btn-mobile-menu {
        display: block;
    }
}