*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.3);
}

html {
    height: 101%
}

body {
    display: block;
    background-color: #eee;
    color: rgba(0, 0, 0, .6);
    font-family: 'Open Sans', Arial, Courier, Times, Helvetica, Verdana, Sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

@media only screen and (max-width:1024px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (max-width:768px) {
    body {
        padding: 0 5px;
    }
}

body.dark-theme {
    background-color: #111;
    color: #eee;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

/* Tables */
table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    text-align: left;
}

table input {
    height: auto;
}

th {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    cursor: pointer;
    padding: 5px 15px 0 15px;
}

th:first-child {
    padding: 5px 5px 0 5px;
}

th:last-child {
    padding: 5px 5px 0 5px;
}

table.unstyled {
    border: initial;
    border-collapse: collapse;
    word-wrap: break-word;
}

table.unstyled td {
    border: 1px solid #ddd;
}

tr {
    border-bottom: 1px solid #ddd;
}

.dark-theme tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.data-row {
    position: relative;
}

.data-row:hover {
    background-color: #f0f0f0;
}

.dark-theme .data-row:hover {
    background-color: #444;
}

tr:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* tr:nth-child(even) {
    background-color: #fcfcfc;
} */

td {
    height: auto;
    padding: 5px 15px;
    border: none;
    overflow: hidden;
}

td:first-child,
td:last-child {
    padding: 5px 5px;
}

tfoot {
    display: none
}

.tr-highlight {
    background-color: #e5e5e5;
}

.dark-theme .tr-highlight {
    background-color: #333;
}

.id-col {
    max-width: 0;
    width: 0;
    overflow: hidden;
    display: none !important;
}

.check-cell {
    width: 30px;
    padding: 0 5px 0 0;
}

.number-col {
    padding-right: 0px;
}

.check-col,
.number-col {
    min-width: 35px;
    width: 35px;
    text-align: center;
}

@media only screen and (max-width:414px) {

    table.list-table,
    .list-table th,
    .list-table td,
    .list-table tr {
        display: block;
        float: left;
        width: 100% !important;

    }

    .list-table tr {
        border: 1px solid #ddd;
    }

    .list-table th {
        background-color: #ececec;
    }

    .list-table td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        width: 100%;
        text-align: right;
    }

    .list-table td span {
        float: left;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .list-table th.btn-sort,
    .list-table th.action,
    .list-table th.number-col {
        display: none;
    }

    .check-cell,
    .number-col {
        text-align: left !important;
        padding: 5px 15px;
        font-weight: bold;
    }

    .list-table table input[type="checkbox"] {
        vertical-align: middle;
    }

    .list-table td:first-child,
    .list-table td:last-child {
        padding: 5px 15px;
    }
}

/* Text */
a,
a:visited {
    text-decoration: none;
    color: #349ef3;
}

.dark-theme a,
.dark-theme a:visited {
    color: #ff5e00;
}

a:hover,
a:focus,
a:active {
    color: #999;
}

.dark-theme a:hover,
.dark-theme a:focus,
.dark-theme a:active {
    color: #999;
}

ul,
ol {
    list-style: outside
}

ul.list-unstyled,
ol.list-unstyled {
    list-style: none
}

ul.list-style-inside,
ol.list-style-inside {
    list-style: inside
}

ul.list-style-check,
ol.list-style-check {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: inherit
}

.heading-small {
    font-size: 21px;
    line-height: 21px;
}

.heading-medium {
    font-size: 28px;
    line-height: 28px;
}

.heading-large {
    font-size: 36px;
    line-height: 36px;
}

.heading-xl {
    font-size: 42px;
    line-height: 42px;
}

.text-center {
    text-align: center !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-underline {
    text-decoration: underline
}

.text-small {
    font-size: 12px;
    line-height: 18px;
}

.text-medium {
    font-size: 18px;
    line-height: 18px;
}

.text-large {
    font-size: 24px;
    line-height: 24px;
}

.text-black {
    color: #333333;
}

.text-white {
    color: #f8f8f8;
}

.text-green {
    color: #32ce32;
}

.text-red {
    color: #d64c4c;
}

.text-blue {
    color: #3d7cda;
}

.text-orange {
    color: #ff5e00;
}

.text-purple {
    color: #8e1aa5;
}

.text-brown {
    color: #a5702a;
}

.text-grey {
    color: #808080;
}

.text-pink {
    color: #ffacba;
}

.text-yellow {
    color: #fdfd00;
}

/* Background Colors */
.bkg-black {
    background-color: #333333;
}

.bkg-white {
    background-color: #f8f8f8;
}

.bkg-green {
    background-color: #32ce32;
}

.bkg-red {
    background-color: #d64c4c;
}

.bkg-blue {
    background-color: #3d7cda;
}

.bkg-orange {
    background-color: #ff5e00;
}

.bkg-purple {
    background-color: #8e1aa5;
}

.bkg-brown {
    background-color: #a5702a;
}

.bkg-grey {
    background-color: #808080;
}

.bkg-pink {
    background-color: #ffacba;
}

.bkg-yellow {
    background-color: #fdfd00;
}

/* Wrappers, Main */
.main {
    display: flex;
    flex-flow: row nowrap;
    float: left;
    width: 100%;
    height: 100%;
    text-align: left;
}

.wrapper {
    position: relative;
    width: 1000px;
    margin: auto;
}

/* Wrappers, Main */
.row,
.flex-row,
.col-10,
.col-20,
.col-30,
.col-40,
.col-50,
.col-60,
.col-70,
.col-80,
.col-90 {
    position: relative;
    float: left;
}

.row,
.flex-row {
    width: 100%;
}

.col-5 {
    width: 5%;
}

.col-10 {
    width: 10%;
}

.col-14 {
    width: 14.28%;
}

.col-15 {
    width: 14.28%;
}

.col-16 {
    width: 16.66%;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: 33.33%;
}

.col-35 {
    width: 35%;
}

.col-40 {
    width: 40%;
}

.col-45 {
    width: 45%;
}

.col-50 {
    width: 50%;
}

.col-55 {
    width: 55%;
}

.col-60 {
    width: 60%;
}

.col-65 {
    width: 65%;
}

.col-70 {
    width: 70%;
}

.col-75 {
    width: 75%;
}

.col-80 {
    width: 80%;
}

.col-85 {
    width: 85%;
}

.col-90 {
    width: 90%;
}

.col-95 {
    width: 95%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.space-even {
    justify-content: space-evenly;
}

.size-even {
    flex: 1 1 0;
}

.stretch {
    align-items: stretch;
}

.inline {
    vertical-align: middle;
    display: inline-block;
    line-height: 28px;
}

.pt-5 {
    padding-top: 5px
}

.pt-10 {
    padding-top: 10px
}

.pt-15 {
    padding-top: 15px
}

.pt-20 {
    padding-top: 20px
}

.pt-25 {
    padding-top: 25px
}

.pt-30 {
    padding-top: 30px
}

.pt-35 {
    padding-top: 35px
}

.pt-40 {
    padding-top: 40px
}

.pt-45 {
    padding-top: 45px
}

.pt-50 {
    padding-top: 50px
}

.pt-55 {
    padding-top: 55px
}

.pt-60 {
    padding-top: 60px
}

.pt-65 {
    padding-top: 65px
}

.pt-70 {
    padding-top: 70px
}

.pt-75 {
    padding-top: 75px
}

.pt-80 {
    padding-top: 80px
}

.pt-85 {
    padding-top: 85px
}

.pt-95 {
    padding-top: 90px
}

.pt-100 {
    padding-top: 100px
}

.pt-120 {
    padding-top: 120px
}

.pb-5 {
    padding-bottom: 5px
}

.pb-10 {
    padding-bottom: 10px
}

.pb-15 {
    padding-bottom: 15px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-25 {
    padding-bottom: 25px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-35 {
    padding-bottom: 35px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-45 {
    padding-bottom: 45px
}

.pb-50 {
    padding-bottom: 50px
}

.pb-55 {
    padding-bottom: 55px
}

.pb-60 {
    padding-bottom: 60px
}

.pb-65 {
    padding-bottom: 65px
}

.pb-70 {
    padding-bottom: 70px
}

.pb-75 {
    padding-bottom: 75px
}

.pb-80 {
    padding-bottom: 80px
}

.pb-85 {
    padding-bottom: 85px
}

.pb-90 {
    padding-bottom: 90px
}

.pb-100 {
    padding-bottom: 100px
}

.pl-5 {
    padding-left: 5px
}

.pl-10 {
    padding-left: 10px
}

.pl-15 {
    padding-left: 15px
}

.pl-20 {
    padding-left: 20px
}

.pl-25 {
    padding-left: 25px
}

.pl-30 {
    padding-left: 30px
}

.pl-35 {
    padding-left: 35px
}

.pl-40 {
    padding-left: 40px
}

.pl-45 {
    padding-left: 45px
}

.pl-50 {
    padding-left: 50px
}

.pl-55 {
    padding-left: 55px
}

.pl-60 {
    padding-left: 60px
}

.pl-65 {
    padding-left: 65px
}

.pl-70 {
    padding-left: 70px
}

.pl-75 {
    padding-left: 75px
}

.pl-80 {
    padding-left: 80px
}

.pl-85 {
    padding-left: 85px
}

.pl-90 {
    padding-left: 90px
}

.pl-100 {
    padding-left: 100px
}

.pl-120 {
    padding-left: 120px
}

.pr-5 {
    padding-right: 5px
}

.pr-10 {
    padding-right: 10px
}

.pr-15 {
    padding-right: 15px
}

.pr-20 {
    padding-right: 20px
}

.pr-25 {
    padding-right: 25px
}

.pr-30 {
    padding-right: 30px
}

.pr-35 {
    padding-right: 35px
}

.pr-40 {
    padding-right: 40px
}

.pr-45 {
    padding-right: 45px
}

.pr-50 {
    padding-right: 50px
}

.pr-55 {
    padding-right: 55px
}

.pr-60 {
    padding-right: 60px
}

.pr-65 {
    padding-right: 65px
}

.pr-70 {
    padding-right: 70px
}

.pr-75 {
    padding-right: 75px
}

.pr-80 {
    padding-right: 80px
}

.pr-85 {
    padding-right: 85px
}

.pr-90 {
    padding-right: 90px
}

.pr-100 {
    padding-right: 100px
}

.pr-120 {
    padding-right: 120px
}

.pv-5 {
    padding-top: 5px;
    padding-bottom: 5px
}

.pv-10 {
    padding-top: 10px;
    padding-bottom: 10px
}

.pv-15 {
    padding-top: 15px;
    padding-bottom: 15px
}

.pv-20 {
    padding-top: 20px;
    padding-bottom: 20px
}

.pv-25 {
    padding-top: 25px;
    padding-bottom: 25px
}

.pv-30 {
    padding-top: 30px;
    padding-bottom: 30px
}

.pv-35 {
    padding-top: 35px;
    padding-bottom: 35px
}

.pv-40 {
    padding-top: 40px;
    padding-bottom: 40px
}

.pv-45 {
    padding-top: 45px;
    padding-bottom: 45px
}

.pv-50 {
    padding-top: 50px;
    padding-bottom: 50px
}

.pv-55 {
    padding-top: 55px;
    padding-bottom: 55px
}

.pv-60 {
    padding-top: 60px;
    padding-bottom: 60px
}

.pv-65 {
    padding-top: 65px;
    padding-bottom: 65px
}

.pv-70 {
    padding-top: 70px;
    padding-bottom: 70px
}

.pv-75 {
    padding-top: 75px;
    padding-bottom: 75px
}

.pv-80 {
    padding-top: 80px;
    padding-bottom: 80px
}

.pv-85 {
    padding-top: 85px;
    padding-bottom: 85px
}

.pv-90 {
    padding-top: 90px;
    padding-bottom: 90px
}

.pv-100 {
    padding-top: 100px;
    padding-bottom: 100px
}

.pv-120 {
    padding-top: 120px;
    padding-bottom: 120px
}

.ph-5 {
    padding-left: 5px;
    padding-right: 5px
}

.ph-10 {
    padding-left: 10px;
    padding-right: 10px
}

.ph-15 {
    padding-left: 15px;
    padding-right: 15px
}

.ph-20 {
    padding-left: 20px;
    padding-right: 20px
}

.ph-25 {
    padding-left: 25px;
    padding-right: 25px
}

.ph-30 {
    padding-left: 30px;
    padding-right: 30px
}

.ph-35 {
    padding-left: 35px;
    padding-right: 35px
}

.ph-40 {
    padding-left: 40px;
    padding-right: 40px
}

.ph-45 {
    padding-left: 45px;
    padding-right: 45px
}

.ph-50 {
    padding-left: 50px;
    padding-right: 50px
}

.ph-55 {
    padding-left: 55px;
    padding-right: 55px
}

.ph-60 {
    padding-left: 60px;
    padding-right: 60px
}

.ph-65 {
    padding-left: 65px;
    padding-right: 65px
}

.ph-70 {
    padding-left: 70px;
    padding-right: 70px
}

.ph-75 {
    padding-left: 75px;
    padding-right: 75px
}

.ph-80 {
    padding-left: 80px;
    padding-right: 80px
}

.ph-85 {
    padding-left: 85px;
    padding-right: 85px
}

.ph-90 {
    padding-left: 90px;
    padding-right: 90px
}

.ph-100 {
    padding-left: 100px;
    padding-right: 100px
}

.ph-120 {
    padding-left: 120px;
    padding-right: 120px
}

.mt-5 {
    margin-top: 5px
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.mt-25 {
    margin-top: 25px
}

.mt-30 {
    margin-top: 30px
}

.mt-35 {
    margin-top: 35px
}

.mt-40 {
    margin-top: 40px
}

.mt-45 {
    margin-top: 45px
}

.mt-50 {
    margin-top: 50px
}

.mt-55 {
    margin-top: 55px
}

.mt-60 {
    margin-top: 60px
}

.mt-65 {
    margin-top: 65px
}

.mt-70 {
    margin-top: 70px
}

.mt-75 {
    margin-top: 75px
}

.mt-80 {
    margin-top: 80px
}

.mt-85 {
    margin-top: 85px
}

.mt-90 {
    margin-top: 90px
}

.mt-100 {
    margin-top: 100px
}

.mt-120 {
    margin-top: 120px
}

.mb-5 {
    margin-bottom: 5px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-35 {
    margin-bottom: 35px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-45 {
    margin-bottom: 45px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-55 {
    margin-bottom: 55px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-65 {
    margin-bottom: 65px
}

.mb-70 {
    margin-bottom: 70px
}

.mb-75 {
    margin-bottom: 75px
}

.mb-80 {
    margin-bottom: 80px
}

.mb-85 {
    margin-bottom: 85px
}

.mb-90 {
    margin-bottom: 90px
}

.mb-100 {
    margin-bottom: 100px
}

.ml-5 {
    margin-left: 5px
}

.ml-10 {
    margin-left: 10px
}

.ml-15 {
    margin-left: 15px
}

.ml-20 {
    margin-left: 20px
}

.ml-25 {
    margin-left: 25px
}

.ml-30 {
    margin-left: 30px
}

.ml-35 {
    margin-left: 35px
}

.ml-40 {
    margin-left: 40px
}

.ml-45 {
    margin-left: 45px
}

.ml-50 {
    margin-left: 50px
}

.ml-55 {
    margin-left: 55px
}

.ml-60 {
    margin-left: 60px
}

.ml-65 {
    margin-left: 65px
}

.ml-70 {
    margin-left: 70px
}

.ml-75 {
    margin-left: 75px
}

.ml-80 {
    margin-left: 80px
}

.ml-85 {
    margin-left: 85px
}

.ml-90 {
    margin-left: 90px
}

.ml-100 {
    margin-left: 100px
}

.ml-120 {
    margin-left: 120px
}

.mr-5 {
    margin-right: 5px
}

.mr-10 {
    margin-right: 10px
}

.mr-15 {
    margin-right: 15px
}

.mr-20 {
    margin-right: 20px
}

.mr-25 {
    margin-right: 25px
}

.mr-30 {
    margin-right: 30px
}

.mr-35 {
    margin-right: 35px
}

.mr-40 {
    margin-right: 40px
}

.mr-45 {
    margin-right: 45px
}

.mr-50 {
    margin-right: 50px
}

.mr-55 {
    margin-right: 55px
}

.mr-60 {
    margin-right: 60px
}

.mr-65 {
    margin-right: 65px
}

.mr-70 {
    margin-right: 70px
}

.mr-75 {
    margin-right: 75px
}

.mr-80 {
    margin-right: 80px
}

.mr-85 {
    margin-right: 85px
}

.mr-90 {
    margin-right: 90px
}

.mr-100 {
    margin-right: 100px
}

.mr-120 {
    margin-right: 120px
}

.mv-5 {
    margin-top: 5px;
    margin-bottom: 5px
}

.mv-10 {
    margin-top: 10px;
    margin-bottom: 10px
}

.mv-15 {
    margin-top: 15px;
    margin-bottom: 15px
}

.mv-20 {
    margin-top: 20px;
    margin-bottom: 20px
}

.mv-25 {
    margin-top: 25px;
    margin-bottom: 25px
}

.mv-30 {
    margin-top: 30px;
    margin-bottom: 30px
}

.mv-35 {
    margin-top: 35px;
    margin-bottom: 35px
}

.mv-40 {
    margin-top: 40px;
    margin-bottom: 40px
}

.mv-45 {
    margin-top: 45px;
    margin-bottom: 45px
}

.mv-50 {
    margin-top: 50px;
    margin-bottom: 50px
}

.mv-55 {
    margin-top: 55px;
    margin-bottom: 55px
}

.mv-60 {
    margin-top: 60px;
    margin-bottom: 60px
}

.mv-65 {
    margin-top: 65px;
    margin-bottom: 65px
}

.mv-70 {
    margin-top: 70px;
    margin-bottom: 70px
}

.mv-75 {
    margin-top: 75px;
    margin-bottom: 75px
}

.mv-80 {
    margin-top: 80px;
    margin-bottom: 80px
}

.mv-85 {
    margin-top: 85px;
    margin-bottom: 85px
}

.mv-90 {
    margin-top: 90px;
    margin-bottom: 90px
}

.mv-100 {
    margin-top: 100px;
    margin-bottom: 100px
}

.mv-120 {
    margin-top: 120px;
    margin-bottom: 120px
}

.mh-5 {
    margin-left: 5px;
    margin-right: 5px
}

.mh-10 {
    margin-left: 10px;
    margin-right: 10px
}

.mh-15 {
    margin-left: 15px;
    margin-right: 15px
}

.mh-20 {
    margin-left: 20px;
    margin-right: 20px
}

.mh-25 {
    margin-left: 25px;
    margin-right: 25px
}

.mh-30 {
    margin-left: 30px;
    margin-right: 30px
}

.mh-35 {
    margin-left: 35px;
    margin-right: 35px
}

.mh-40 {
    margin-left: 40px;
    margin-right: 40px
}

.mh-45 {
    margin-left: 45px;
    margin-right: 45px
}

.mh-50 {
    margin-left: 50px;
    margin-right: 50px
}

.mh-55 {
    margin-left: 55px;
    margin-right: 55px
}

.mh-60 {
    margin-left: 60px;
    margin-right: 60px
}

.mh-65 {
    margin-left: 65px;
    margin-right: 65px
}

.mh-70 {
    margin-left: 70px;
    margin-right: 70px
}

.mh-75 {
    margin-left: 75px;
    margin-right: 75px
}

.mh-80 {
    margin-left: 80px;
    margin-right: 80px
}

.mh-85 {
    margin-left: 85px;
    margin-right: 85px
}

.mh-90 {
    margin-left: 90px;
    margin-right: 90px
}

.mh-100 {
    margin-left: 100px;
    margin-right: 100px
}

.mh-120 {
    margin-left: 120px;
    margin-right: 120px
}

.pull-right {
    position: relative;
    float: right !important
}

.pull-left {
    position: relative;
    float: left !important
}

/* Horizontal Rule */
hr {
    border: none;
    border-top: 1px solid #8c8b8b;
}

hr.clear {
    border-top: none;
    border-bottom: none
}

hr.basic {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.dark-theme hr.basic {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.3)
}

hr.fade {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

hr.curly {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.curly:before {
    display: block;
    content: '';
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.glyph {
    padding: 0;
    border: none;
    border-top: medium double #555;
    color: #555;
    text-align: center;
}

hr.glyph:after {
    content: "\f1b0";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    font-family: 'Font Awesome 5 Free';
}

hr.dual {
    border-top: 3px double #8c8b8b;
}

hr.dual-sizable:after {
    content: '';
    display: block;
    margin-top: 6px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #f8f8f8;
}

hr.dashed {
    border-top: 1px dashed #8c8b8b;
}

hr.dashed-line {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.dotted {
    border-top: 1px dotted #8c8b8b;
}

/* Alerts */
.alert {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 40px 7px 7px;
    border-radius: 3px;
    color: #f8f8f8;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.alert strong {
    text-transform: capitalize;
}

.alert.success {
    background-color: #76d769;
}

.alert.error {
    background-color: #ff6868;
}

.alert.warning {
    background-color: #ffc547;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.alert.info {
    background-color: #68a8ff;
}

.alert.inline {
    padding: 3px 50px 3px 10px;
}

.alert-attached {
    float: left;
    z-index: 200;
    min-width: 100px;
    width: auto;
    padding-top: 2px;
    text-align: left;
    font-size: 13px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.alert-attached {
    color: #ff6868;
}

/* .alert-attached::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 13px;
    width: 12px;
    height: 12px;
    background-color: #ff6868;
    border-top: 1px solid #ff6868;
    border-right: 1px solid #ff6868;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
} */

.alert button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    color: #f8f8f8;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}

/* Loading */
.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    text-align: center;
}

.dark-theme .loading {
    background-color: #333;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    z-index: 101;
    font-size: 40px;
    line-height: 40px;
    color: #2777c9
}

.loading-spinner img {
    width: 100%
}

/* To-top */
.to-top {
    position: fixed;
    opacity: 0;
    left: 20px;
    top: -100px;
    z-index: 100;
    width: 220px;
    height: 30px;
    border-radius: 4px;
    background: #3561a3;
    cursor: pointer;
    color: #f8f8f8;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.to-top.visible {
    top: 20px;
    opacity: 1;
}

/* Work  Area*/
.workarea {
    flex: 1;
    float: left;
    padding: 15px 15px 30px 15px;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media only screen and (max-width:768px) {
    .workarea {
        flex: none;
        width: 100%;
        padding: 10px;
    }
}

/* Breadcrumb */
.breadcrumb {
    float: left;
    height: 32px;
    margin-bottom: 15px;
    background-color: #0f477a;
    border-radius: 3px;
    font-weight: 600;
}

@media only screen and (max-width:1024px) {
    .breadcrumb {
        margin-bottom: 5px;
    }
}

.breadcrumb hr {
    float: left;
    vertical-align: bottom;
    width: 26px;
    height: 26px;
    margin: 3px 0 0 -16px;
    border-top: none;
    border-bottom: 3px solid #eee;
    border-left: none;
    border-right: 3px solid #eee;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.dark-theme .breadcrumb hr {
    border-right: 3px solid #111;
    border-bottom: 3px solid #111;
}

.breadcrumb hr:first-child {
    display: none;
}

.breadcrumb a {
    float: left;
    height: 32px;
    padding: 0 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    line-height: 32px;
    color: #f8f8f8 !important;
}

.dark-theme .breadcrumb a {
    color: #eee !important;
}

.breadcrumb a:nth-child(2) {
    display: inline-block;
    line-height: 32px;
}

/* Dashboard */
.panel-btns {
    position: absolute;
    top: 0;
    right: 0;
}

.panel-btns .left {
    float: right;
    width: 400px;
}

.panel-btns .right {
    float: right;
    width: 130px;
}

/* Panels */
.panel {
    position: relative;
    float: left;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #555;
}

.dark-theme .panel {
    background-color: #222;
    border: 1px solid #333;
    color: #eee;
}

.panel-title {
    float: left;
    padding: 15px 15px 0 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.panel-title i {
    height: 25px;
    vertical-align: middle;
    font-size: 21px;
    color: #2176d6;
}

.dark-theme .panel-title i {
    color: #ff5e00;
}

.panel-title a,
.panel-title a:visited {
    color: #555;
}

.dark-theme .panel-title a,
.dark-theme .panel-title a:visited {
    color: #eee;
}

.panel-content {
    float: left;
    width: 100%;
    padding: 25px 35px;
}

@media only screen and (max-width:768px) {
    .panel-content {
        padding: 0;
    }
}

.panel-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0 15px 15px 15px;
    font-size: 12px;
}

.dark-theme .panel-footer {
    background-color: #2b2b2b;
    border-top: 1px solid #777;
}

.panel-footer a,
.panel-footer a:visited {
    float: left;
    text-align: center;
}


@media only screen and (max-width:1366px) {

    .panel-footer a,
    .panel-footer a:visited {
        padding: 0 5px;
    }
}

@media only screen and (max-width:1024px) {

    .panel-footer a,
    .panel-footer a:visited {
        padding: 0 20px;
    }
}

.color-bubble {
    color: #f8f8f8;
    border-radius: 4px;
}

.color-bubble span {
    font-size: 56px;
    line-height: 56px;
}

.color-bubble span:nth-child(4) {
    font-size: 21px;
    line-height: 21px;
}

.color-bubble a {
    color: #f8f8f8;
}

.main-controls {
    padding: 5px 0;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.dark-theme .main-controls {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.main-controls .btn {
    float: left;
    margin-right: 5px;
}

.main-controls select {
    margin-right: 5px;
}

.main-controls hr {
    float: left;
    width: 1px;
    height: 28px;
    margin: 0 10px 0 5px;
    background-color: #ccc;
    border: none;
}

.dark-theme .main-controls hr {
    background-color: #333;
}

.log {
    overflow: hidden;
    margin: 0 0 10px 0;
    max-height: 250px;
    font-size: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.log-title {
    float: left;
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
}

.log-title i {
    line-height: 24px;
}

.log-title i:hover {
    cursor: pointer;
}

.scrollarea {
    overflow: hidden;
    float: left;
    width: 100%;
    height: 250px;
}

.scrollarea:hover {
    overflow-y: scroll;
}

/* Profile */
hr.profile {
    height: 2px;
    border-top: 2px solid #ddd;
}

.dark-theme hr.profile {
    border-top: 2px solid #888;
}

.profile span {
    position:absolute;
    padding-right: 3px;
    background-color:#f8f8f8;
    color: #999;
    font-size: 12px;
    font-weight: 600;
    color: #999;
    font-size: 12px;
    font-weight: 600;
}

.dark-theme .profile span {
    background-color: #222;
}

.profile em {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
}

.profile-left {
    width: 200px;
    margin-right: 50px;
}

@media only screen and (max-width:768px) {
    .profile-left {
        width: 100%;
        margin-right: 0;
    }
}

.profile-controls {
    float: left;
    width: 50px;
    margin: 0 0 0 15px;
}

.profile-controls .btn {
    margin: 0 0 5px 0;
}

.profile-info {
    padding: 15px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.profile-avatar {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 20px 0 0;
    background-color: #f8f8f8;
}

.profile-avatar img {
    width: 100%;
}

.profile-tabs {
    border-bottom: 2px solid #ddd;
}

.profile-tab {
    z-index: 100;
    padding: 0 3px 4px 3px;
    margin-bottom: -2px;
    border-bottom: 2px solid #349ef3;
}

.profile-activity {
    font-size: 12px;
}

.profile-links a {
    font-size: 12px;
}

.profile-links a:nth-child(2) {
    color: #777;
}

.is-online p {
    display: inline-block;
}

.days-ago {
    font-size: 10px;
}

/* Settings */
.settings-area strong {
    font-size: 21px;
    line-height: 21px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#settings-form {
    text-align: left;
}

.dark-theme .settings-row,
.dark-theme .form-row {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.settings-col-left {
    float: left;
    width: 16%;
}

.settings-col-right {
    float: left;
    width: 84%;
}

@media only screen and (max-width:1024px) {
    .settings-area .info-col {
        width: 100%;
        margin: 0;
    }
}

.set-ico i {
    color: #8f1eff;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Not Found */
.not-found-page-body {
    background: url(../images/monkey.png) no-repeat bottom right;
}

/* Account */
.user-form {
    position: relative;
    width: 30%;
    margin: 7% auto;
}

@media only screen and (max-width:768px) {
    .user-form {
        position: relative;
        float: left;
        width: 98%;
        margin: 7% 1%;
    }
}

.login-form,
.signup-form,
.reset-form,
.resend-form {
    padding: 25px 35px;
    border-radius: 4px;
    background-color: #edf0f5;
    border: 1px solid #d9d9d9;
    color: #555;
}

.dark-theme .login-form,
.dark-theme .signup-form,
.dark-theme .reset-form,
.dark-theme .resend-form {
    background-color: #111;
    border: 1px solid #444;
    color: #eee;
}

#account input[type="radio"] {
    display: inline-block;
}

hr.account-hr {
    height: 2px;
    border-top: 2px solid #ddd;
}

.dark-theme hr.account {
    border-top: 2px solid #888;
}

.account span {
    position:absolute;
    padding-right: 3px;
    background-color:#f8f8f8;
    color: #999;
    font-size: 12px;
    font-weight: 600;
}

.dark-theme .account span {
    background-color: #222;
}

.account em {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
}

.account-left {
    width: 200px;
    margin-right: 50px;
}

@media only screen and (max-width:768px) {
    .account-left {
        width: 100%;
        margin-right: 0;
    }
}

.account-controls {
    float: left;
    width: 50px;
    margin: 0 0 0 15px;
}

.account-controls .btn {
    margin: 0 0 5px 0;
}

.account-info {
    padding: 15px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.account-avatar {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 20px 0 0;
    margin: auto;
    border: 1px solid #aaa;
    background-color: #f8f8f8;
}

.account-avatar img {
    width: 100%;
}

.account-avatar a {
    float: left;
    width: 100%;
    margin-top: 5px;
    text-decoration: underline
}

.account-tabs {
    border-bottom: 2px solid #ddd;
}

.account-tab {
    z-index: 100;
    padding-bottom: 4px;
    margin-bottom: -2px;
    border-bottom: 2px solid #349ef3;
}

.account-avatar #dropzone {
    position: relative;
    min-height: 0;
    border: none;
    padding: 0;
    margin-top: 10px;
}

.account-avatar .dz-default.dz-message,
.account-avatar .dz-default.dz-message:visited {
    float: left;
    width: 100%;
    margin-top: 3px;
    color: #3498db !important;
    text-decoration: none;
    text-align: center;
}

.account-avatar .dz-message span {
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
    text-align: center;
}

.account-avatar .dropzone .dz-preview {
    position: absolute !important;
    left: 50%;
    top: 0;
    height: 70px;
    width: 70px;
    margin-top: -100px !important;
    margin-left: -35px !important;
}

.account-avatar .dropzone .dz-image {
    display: none !important;
}

.account-avatar .account span {
    float: none;
}

.upload-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 350px;
    padding: 13px;
    margin: 25px 0 0 25px;
    border: 1px solid #aaa;
    border-radius: 5px
}

.btn-upload {
    position: absolute;
    top: 7px;
    right: 13px
}