<div class="pull-right mb-15 workarea-buttons">
    <a href="/" class="btn btn-basic pull-right" title="Close"><i class="fas fa-times fa-fw"></i></a>
    <a href="" class="btn btn-basic pull-right" title="Refresh"><i class="fas fa-sync-alt fa-fw"></i></a>
    <a href="" class="btn btn-basic btn-goback pull-right" title="Back"><i class="fas fa-arrow-left fa-fw"></i></a>
</div>