<?= $header; ?>
<main class="main home-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $breadcrumb; ?>
        <div class="row">
            <div class="flex-row mb-5">
                <div class="panel size-even">
                    <div class="panel-title"><a href="/users"><i class="fas fa-users fa-fw"></i> USERS</a></div>
                    <div class="flex-row panel-content text-center user-panel">
                        <div class="size-even">Registered <span class="row" style="font-size: 48px;"><?= $registered; ?></span></div>
                        <div class="size-even">Administrators <span class="row" style="font-size: 48px;"><?= $admins; ?></span></div>
                        <div class="size-even">Total <span class="row" style="font-size: 48px;"><?= $total_users; ?></a></span></div>
                    </div>
                </div>
                <div class="mh-5 panel size-even">
                    <div class="panel-title"><a href="/products"><i class="fas fa-book-open fa-fw"></i> DATA</a></div>
                    <div class="flex-row panel-content text-center product-panel">

                    </div>  
                </div>
                <div class="panel size-even">
                    <div class="panel-title"><a href="/settings"><i class="fas fa-cog fa-fw"></i> SETTINGS</a></div>
                    <div class="row panel-content" style="font-size: 21px;">
                        <div class="row mb-5">Language: <span style="font-weight: 600;"><?= $language; ?></span></div>
                        <div class="row mb-5">Maintenance Mode: <span style="font-weight: 600;"><?= $maintenance_mode; ?></span></div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="flex-row mb-5">
            <div class="size-even mr-5">
                <div class="calendar mini">
                    <table id="calendar-table"></table>
                </div>
            </div>
            <div class="panel size-even">
                <div class="panel-title"><i class="fas fa-calendar-day fa-fw"></i> DATA</div>
                <div class="panel-content" style="max-height:346px;overflow-y:scroll;">
                    
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="row panel">
                <div class="panel-title"><i class="fas fa-clipboard-list fa-fw"></i> LOGS</div>
                <div class="panel-content">
                    <div class="panel-btns pt-15 pr-15">
                        <?php if ($user_group > 2): ?>
                        <button type="button" class="btn btn-default btn-small btn-clear-logs pull-right"><i class="fas fa-eraser fa-fw"></i> Clear Logs</button>
                        <?php endif ?>
                        <div class="log-response"></div>
                    </div>
                    <div class="row log">
                        <div class="scrollarea">
                            <table class="table pull-left log-table">
                                <tr>
                                    <th class="number-col">#</th>
                                    <th style="width: 250px;">Time</th>
                                    <th>Event</th>
                                </tr>
                                <?php foreach ($logs as $log) : ?>
                                <tr class="log-row">
                                    <td class="number-col"><?= $log['log_id']; ?></td>
                                    <td style="width: 250px;"><?= $log['time']; ?></td>
                                    <td><?= $log['event']; ?></td>
                                </tr>
                                <?php endforeach ?>  
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php if ($user_group > 2): ?>
        <div class="row mb-15">
            <div class="row panel">
                <div class="panel-title"><i class="fas fa-exclamation-triangle fa-fw"></i> ERRORS</div>
                <div class="panel-content">
                    <div class="panel-btns pt-15 pr-15">
                        <button type="button" class="btn btn-default btn-small btn-clear-errors pull-right"><i class="fas fa-eraser fa-fw"></i> Clear Errors</button>
                        <div class="error-response"></div>
                    </div>
                    <div class="row log">
                        <div class="scrollarea">
                            <table class="table pull-left log-table">
                                <tr>
                                    <th class="number-col">#</th>
                                    <th style="width: 250px;">Time</th>
                                    <th>Event</th>
                                </tr>
                                <?php foreach ($errors as $error) : ?>
                                <tr class="error-row">
                                    <td class="number-col"><?= $error['error_id']; ?></td>
                                    <td style="width: 250px;"><?= $error['time']; ?></td>
                                    <td><?= $error['event']; ?></td>
                                </tr>
                                <?php endforeach ?>  
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php endif ?>
    </div>
</main>
<script type="text/javascript">

$('#calendar-table').calendar({
    view : 'month',
    post : '/calendar/get-events',
    day_click : false
});
    
$(document).on('click', '.btn-clear-logs, .btn-clear-errors', function() {
    
    var btn = $(this).html();

    $(this).html('<i class="fas fa-circle-notch fa-fw fa-spin"></i> loading...');

    if ($(this).hasClass('btn-clear-logs')) {
        var m = 'Are you sure you want to clear the logs?';
        var g = '/dashboard/clear-log';
        var a = 'logs';
        var r = '.log-row'
    }

    if ($(this).hasClass('btn-clear-errors')) {
        var m = 'Are you sure you want to clear the errors?';
        var g = '/dashboard/clear-errors';
        var a = 'errors';
        var r = '.error-row'
    }

    setTimeout(function() {
        if (confirm(m)) {
            $.get(g, function(response) {
                if ($.trim(response)) {
                    var json = JSON.parse(response);
                    $('.alert').remove();
                    $('.loading').remove();
                    $(r).remove();
                    $('.btn-clear-' + a).before('<div class="alert inline ' + json.alert + '"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
                }
            });
        } else {
            $(this).prop('disabled', false).html(btnhtml);
        }
    }, 100);
    
});

$('body').on('click', '.log-row', function() {
    $('tr').removeAttr('style');
    $('.log-row').removeClass('tr-highlight');
    $(this).addClass('tr-highlight');
});

$('body').on('click', '.error-row', function() {
    $('tr').removeAttr('style');
    $('.error-row').removeClass('tr-highlight');
    $(this).addClass('tr-highlight');
});

</script>
<?= $footer; ?>