<?= $header; ?>
<main class="main home-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $breadcrumb; ?>
        <div class="row">
                   
            <button type="button" class="btn btn-default btn-browse" title="Browse"><i class="fas fa-folder-open fa-fw"></i> Browse</button>
            <div class="do">

            </div>

        </div>
    </div>
</main>
<script type="text/javascript">

    $(function() { $('.filebrowser').draggable(); });

    $('.do').filebrowser({
        dir : '/uploads/',
    });

    Dropzone.options.dropzone = {
        url: '/filebrowser/upload',
        paramName: 'upload_item', // The name that will be used to transfer the file
        maxFiles: null,
        dictDefaultMessage: 'Drop files here',
        success: function(file, response) {
            if ($.trim(response)) {
                var json = JSON.parse(response);
                if (json.alert == 'error') {
                    $(file.previewElement, this).find('.dz-error-message').css({'display' : 'block', 'opacity' : '1'});
                    $(file.previewElement, this).find('.dz-error-message span').text(json.message);   
                } else {
                    $('.dz-success-mark').html('Sucksess');
                }
            }
        },
    };

    $('.filebrowser').on('click', '.fb-file-link', function() {
        alert($(this).text());
        return false;
    });

</script>
<?= $footer; ?>