    <!-- FOOTER BEGIN -->
    <footer class="footer pt-15"><span class="version-build">Build: <?= BUILD; ?></span></footer>
    <!-- FOOTER END -->
</body>
<script type="text/javascript">
    
    var btn;
    var btnhtml;

    /* var header_height = $('header').outerHeight();
    var footer_height = $('footer').outerHeight();
    var remove_height = header_height + footer_height;
    var main_height = $(window).height() - remove_height;

    $('main').css({'min-height' : main_height}); */

    $('main').css({'min-height' : $(window).height() - $('header').outerHeight() + 10});

    $('body').on('click', '.alert-continue', function() {
        location.reload();
    });

    $('body').on('click', '.alert-close', function() {
        $(this).parent().remove();
    });

    $('body').on('click', '.alert-redirect', function() {
        location.replace('/dashboard');
    });

    $('body').on('click', '.btn', function() {
        btn = $(this);
        btnhtml = btn.html();
        $('.alert').remove();
        $('.alert-area').html('');
        if ($(this).hasClass('no-load') == false) {
            $(this).html('<i class="fas fa-circle-notch fa-fw fa-spin"></i> loading...');
        }   
    });

    $(document).ajaxComplete(function(event, request, setting) {
        if (btn) btn.prop('disabled', false).html(btnhtml);
    });

</script>
</html>