<?= $header; ?>
<main class="main list-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $breadcrumb; ?>
        <?= $buttons; ?>
        <div class="panel">
            <div class="panel-title"><i class="fas fa-list fa-fw"></i> LIST</a></div>
            <div class="panel-content">
                <input type="hidden" name="url" value="<?= $url; ?>" id="url">
                <?= $controls; ?>
                <div class="row alert-area"></div>
                <?= $pagination; ?>          
                <div class="row pagination-table mv-15"></div>
                <?= $pagination; ?>       
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

Pagination.init($('#url').val());
MainControls.init(); 

$(window).on('resize', function() {
    Pagination.adjustForMobile();
});

</script>
<?= $footer; ?>