<nav class="nav <?= $menu; ?>">
    <ul class="main-nav">
        <li><a href="#" class="btn-menu" title="EXPAND"><i class="fas fa-toggle-<?= $menu_toggle; ?> fa-fw"></i></a></li>
        <li><a href="/dashboard" class="nav-link dashboard" title="DASHBOARD"><i class="fas fa-tachometer-alt fa-fw"></i> <?= $nav_text_dashboard; ?></a></li>
        <li><a href="/users" class="nav-link users" title="USERS"><i class="fas fa-users fa-fw"></i> <?= $nav_text_users; ?></a></li>
        <li><a href="/calendar" class="nav-link calendar" title="CALENDAR"><i class="fas fa-calendar fa-fw"></i> <?= $nav_text_calendar; ?></a></li>
        <li><a href="/filebrowser" class="nav-link file-browser" title="FILE BROWSER"><i class="fas fa-folder-open fa-fw"></i> <?= $nav_text_filebrowser; ?></a></li>
        <!-- <hr class="row basic"> -->
        <li class="dropdown-button"><a href="/settings" class="nav-link settings" title="SETTINGS" onclick="return false;"><i class="fas fa-cog fa-fw"></i> <?= $nav_text_settings; ?> <i class="fas fa-chevron-down dd-toggle fa-fw"></i></a>
            <ul class="dropdown-menu list-unstyled">
                <li><a href="/settings/general" class="nav-link general" title="GENERAL SETTINGS"><i class="fas fa-cogs fa-fw"></i> GENERAL</a></li>
                <li><a href="/settings/mail" class="nav-link mail" title="MAIL SETTINGS"><i class="fas fa-envelope fa-fw"></i> MAIL</a></li>
                <li><a href="/settings/server" class="nav-link server" title="SERVER SETTINGS"><i class="fas fa-server fa-fw"></i> SERVER</a></li>
            </ul>
        </li>
        <!-- <hr class="row basic"> -->
        <li><a href="/logout" title="LOG OUT"><i class="fas fa-sign-out-alt fa-fw"></i> <?= $nav_text_logout; ?></a></li>
    </ul>
</nav>