<div class="row pagination-controls no-select">
    <div class="pull-left">
        <label>Page:</label>
        <div class="pagination">
            <button type="button" class="btn-prev"><i class="fas fa-caret-left fa-fw"></i></button>
            <select class="pagination-select"></select>
            <button type="button" class="btn-next"><i class="fas fa-caret-right fa-fw"></i></button>
        </div>
    </div>
    <div class="pull-left ml-30">
        <label>Limit:</label>
        <select class="limit-per-page">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
        </select>
    </div>
    <div class="pull-left mh-30">
        <?= $filters; ?>
    </div>
    <div class="pull-left total label-inline"></div>
    <div class="pull-left page-of label-inline"></div>
</div>  