<div class="search">
    <div class="search-icon"><i class="fas fa-search fa-fw"></i></div>
    <input type="search" name="string" placeholder="Search" id="search-string">
    <div class="search-results">
        <ul class="search-results-users"><em></em></ul>
    </div>
</div>