<?= $header; ?>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<main class="main account-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $breadcrumb; ?>
        <div class="row panel">
            <div class="panel-content" id="account">
                <div class="row alert-area"></div>
                <div class="flex-row mt-15 account">
                    <form class="account-right pt-10 space-even" id="account-form">
                        <hr class="row basic mb-50">
                        <div class="flex-row mb-50">
                            <span style="top: -61px;">ACCOUNT SETTINGS</span>
                            <div class="inline mr-50">
                                <label for="privacy" class="inline">Confirm Logouts:</label> 
                                <input type="checkbox" name="logout_setting">
                            </div>
                            <div class="inlinle">
                                <label for="theme" class="inline">Theme:</label>
                                <select name="theme" id="theme-select">
                                    <option hidden>Select</option>
                                    <option value="0">Light</option>
                                    <option value="1">Dark</option>
                                </select>
                            </div>
                        </div>
                        <hr class="row basic mb-50">
                        <div class="row">
                            <span style="top: -61px;">USER INFORMATION</span>
                            <div class="flex-row">
                                <div class="size-even mr-25">
                                    <div class="row mb-15">
                                        <label class="row required">Firstname:</label>
                                        <input type="text" name="firstname" placeholder="John" class="row">
                                    </div>
                                    <div class="row mb-15">
                                        <label class="row required">Lastname:</label>
                                        <input type="text" name="lastname" placeholder="Doe" class="row">
                                    </div>
                                    <div class="row mb-15">
                                        <label class="row">Phone:</label>
                                        <input type="text" name="phone" placeholder="8085551234" class="row">
                                    </div>
                                    <div class="row mb-15">
                                        <label class="row required">Email:</label>
                                        <input type="email" name="email" placeholder="person@email.com" class="row">
                                    </div>
                                    <div class="row mb-15">
                                        <label class="row">Birthday:</label>
                                        <div class="row">
                                            <select name="day">
                                                <option hidden>Day</option>
                                                <?php for ($i = 1; $i < 32; $i++): ?>
                                                <option value="<?= $i; ?>"><?= $i; ?></option>
                                                <?php endfor ?>
                                            </select>
                                            <select name="month">
                                                <option hidden>Month</option>
                                                <option value="01">January</option>
                                                <option value="02">February</option>
                                                <option value="03">March</option>
                                                <option value="04">April</option>
                                                <option value="05">May</option>
                                                <option value="06">June</option>
                                                <option value="07">July</option>
                                                <option value="08">August</option>
                                                <option value="09">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                            <select name="year">
                                                <option hidden>Year</option>
                                                <?php for ($i = $year; $i > 1901; $i--): ?>
                                                <option value="<?= $i; ?>"><?= $i; ?></option>
                                                <?php endfor ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-15">
                                        <label for="country" class="row">Country:</label>
                                        <div class="row">
                                            <select name="country">
                                                <option hidden>Select</option>
                                                <?php foreach ($countries as $country): ?>
                                                <option value="<?= $country['code']; ?>, <?= $country['name']; ?>"><?= $country['name']; ?></option>
                                                <?php endforeach ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-15">
                                        <label for="gender" class="row inline">Gender:</label>
                                        <label class="inline">Male <input type="radio" name="gender" value="Male" class="mr-5"></label>
                                        <label class="inline">Female <input type="radio" name="gender" value="Female" class="mr-5"></label>
                                        <label class="inline">Other <input type="radio" name="gender" value="Other" class="mr-5"></label>
                                    </div>
                                </div>
                                <div class="size-even">
                                    <div class="row">
                                        <label class="row">Bio:</label>
                                        <textarea name="bio" class="row" style="max-width: 639px"></textarea>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="/javascript/deserialize2.js"></script>

<script type="text/javascript">

    const deserialize = new Deserialize({
        form: '#account-form',
        url: '/account/getAccountJson/'
    }).then(function(response) {
        console.log(response);
    });

    // console.log(deserialize.leftovers);

</script>

<?= $footer; ?>