<?= $header; ?>
<main class="main settings-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $breadcrumb; ?>
        <?= $buttons; ?>
        <form id="settings-form" class="flex-row">
            <div class="size-even mb-15 panel">
                <div class="panel-title"><i class="fas fa-cogs fa-fw"></i> GENERAL</div>
                <div class="panel-content">
                    <div class="row alert-area"></div>
                    <div class="row main-controls">
                        <button type="button" class="btn btn-go btn-save-settings"><i class="fas fa-save fa-fw"></i> Save</button>
                    </div>
                    <div class="row mt-10">
                        <div class="row pv-25 ph-25">
                            <div class="row mb-15">
                                <label style="width: 150px;" for="owners_email">Owners Email:</label>
                                <input type="email" name="owners_email" style="min-width: 500px;">
                                <span class="text-small ml-10"><i class="fas fa-question-circle fa-fw"></i> Emails from the contact form will be sent to this address.</span> 
                            </div>   
                            <div class="row mb-15">
                                <label style="width: 150px;" for="strong_pw">Strong Passwords:</label>
                                <input type="checkbox" name="strong_pw">
                                <span class="text-small ml-10"><i class="fas fa-question-circle fa-fw"></i> Force users to create a strong password during sign up.</span>
                            </div>
                            <div class="row mb-15">
                                <label style="width: 150px;" for="inactivity_limit">Inactivity Limit:</label>
                                <select name="inactivity_limit">
                                    <option value="0">0</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="60">60</option>
                                </select>
                                <span class="text-small ml-10"><i class="fas fa-question-circle fa-fw"></i> Time before users are logged out from inactivity. Set to 0 for no limit.</span>
                            </div>
                            <div class="row mb-15">
                                <label style="width: 150px;" for="language">Language:</label>
                                <select name="language">
                                    <option value="" hidden>Select</option>
                                    <?php foreach ($languages as $lang): ?>
                                    <option value="<?= $lang['code']; ?>"><?= $lang['language']; ?></option>
                                    <?php endforeach ?>
                                </select>
                                <span class="text-small ml-10"><i class="fas fa-question-circle fa-fw"></i> The websites language. (BETA. Language support is limited at this time.)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<script type="text/javascript">

$('#settings-form').deserialize({
    getJson : '/settings/getSettingsJson/'
});

$('body').on('click', '.btn-save-settings', function() {
    $.post('/settings/update/general', $('#settings-form').serialize(), function(response) {
        if ($.trim(response)) {
            var json = JSON.parse(response);
            $('.alert-area').append('<div class="alert ' + json.alert + ' mb-15"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
        } 
    });
});

</script>
<?= $footer; ?>