<?= $header; ?>
<main class="main settings-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $breadcrumb; ?>
        <?= $buttons; ?>
        <form id="settings-form" class="flex-row">
            <div class="size-even mb-15 panel">
                <div class="panel-title"><i class="fas fa-envelope fa-fw"></i> MAIL</div>
                <div class="panel-content">
                    <div class="row alert-area"></div>
                    <div class="row main-controls">
                        <button type="button" class="btn btn-go btn-save-settings"><i class="fas fa-save fa-fw"></i> Save</button>
                        <button type="button" class="btn btn-default btn-test"><i class="fas fa-paper-plane fa-fw"></i> Test Email</button>
                    </div>
                    <div class="row">
                        <div class="row pv-25 ph-25">
                            <div class="row mb-15">
                                <label style="width: 150px;" for="host">SMTP Host:</label>
                                <input type="text" name="host" style="min-width: 500px;">
                                <span class="text-small ml-10"><i class="fas fa-question-circle fa-fw"></i> SMTP host for mail server.</span>
                            </div>
                            <div class="row mb-15">
                                <label style="width: 150px;" for="port">SMTP Port:</label>
                                <input type="text" name="port" style="min-width: 500px;">
                                <span class="text-small ml-10"><i class="fas fa-question-circle fa-fw"></i> SMTP port for mail server.</span>
                            </div>
                            <div class="row mb-15">
                                <label style="width: 150px;" for="username">Username:</label>
                                <input type="text" name="username" style="min-width: 500px;">
                                <span class="text-small ml-10"><i class="fas fa-question-circle fa-fw"></i> Username you use to login to the email account.</span>
                            </div>
                            <div class="row mb-15">
                                <label style="width: 150px;" for="password">Password:</label>
                                <input type="password" name="password" style="min-width: 500px;">
                                <span class="text-small ml-10"><i class="fas fa-question-circle fa-fw"></i> Password you use to login to the email account.</span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </form>
    </div>
</main>
<script type="text/javascript">

$('#settings-form').deserialize({
    getJson : '/settings/getSettingsJson/'
});

$('body').on('click', '.btn-save-settings', function() {
    $.post('/settings/update/mail', $('#settings-form').serialize(), function(response) {
        if ($.trim(response)) {
            var json = JSON.parse(response);
            $('.alert-area').append('<div class="alert ' + json.alert + ' mb-15"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
        } 
    });
});

$('body').on('click', '.btn-test', function() {
    $.get('/settings/test-email', function(response) {
        console.log(response);
        if ($.trim(response)) {
            var json = JSON.parse(response);
            $('.btn-test').after('<div class="alert ' + json.alert + ' inline ml-15"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
        } 
    });
});

</script>
<?= $footer; ?>