<?= $header; ?>
<main class="main settings-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $breadcrumb; ?>
        <?= $buttons; ?>
        <form id="settings-form" class="flex-row">
            <div class="size-even mb-15 panel">
                <div class="panel-title"><i class="fas fa-server fa-fw"></i> SERVER</div>
                <div class="panel-content">
                    <div class="row alert-area"></div>
                    <div class="row main-controls">
                        <button type="button" class="btn btn-go btn-save-settings"><i class="fas fa-save fa-fw"></i> Save</button>
                    </div>
                    <div class="row">
                        <div class="row pv-25 ph-25">
                            <div class="row">
                                <label style="width: 150px;" for="maintenance_mode">Maintenance Mode:</label>
                                <input type="checkbox" name="maintenance_mode">
                                <span class="text-small mt-5"><i class="fas fa-question-circle fa-fw"></i> Maintenance mode shows a maintenance message instead of the site.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<script type="text/javascript">

$('#settings-form').deserialize({
    getJson : '/settings/getSettingsJson/'
});

$('body').on('click', '.btn-save-settings', function() {
    $.post('/settings/update/server', $('#settings-form').serialize(), function(response) {
        if ($.trim(response)) {
            var json = JSON.parse(response);
            $('.alert-area').append('<div class="alert ' + json.alert + ' mb-15"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
        } 
    });
});

</script>
<?= $footer; ?>