<?= $header; ?>
<main class="main settings-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $breadcrumb; ?>
        <?= $buttons; ?>
        <form id="settings-form" class="flex-row">
            <div class="size-even mb-15 panel">
                <div class="panel-title"><i class="fas fa-cogs fa-fw"></i> Settings</div>
                <div class="panel-content">
                    <style>
                        .settings-link {
                            padding: 0 15px; 
                            border-right: 1px solid #999
                        }
                        .settings-link:last-child {
                            border: none;
                        }
                    </style>
                    <a href="/settings/general" class="settings-link">General Settings</a> 
                    <a href="/settings/mail" class="settings-link">Mail Settings</a> 
                    <a href="/settings/server" class="settings-link">Server Settings</a>
                </div>
            </div>
        </form>
    </div>
</main>
<?= $footer; ?>