<?php if ($group > 2): ?>
<div class="row main-controls">
    <select name="group" class="pull-left btn-list-control" id="user-group" disabled style="background-color: #1f4070; color: #fff; border: 1px solid #0c2750">
        <option id="group-none">Select</option>
        <option value="0" id="group0">Locked</option>
        <option value="1" id="group1">Un-registered</option>
        <option value="2" id="group2">Registered</option>
        <option value="3" id="group3">Moderator</option>
        <option value="4" id="group3">Administrator</option>
    </select>
    <hr>
    <button type="button" class="btn btn-stop btn-list-control btn-mass-delete" title="Delete" disabled><i class="fas fa-trash fa-fw"></i> Delete</button>
</div>
<?php endif ?>