<div class="pull-left">
    <label>Filter by</label>
    <select class="filter-by">
        <option value="">Select</option>
        <option value="group">Group</option>
    </select>
</div>
<div class="pull-left ml-30 filter-dropdown" data-filter="group" style="display:none">
    <label>Filter</label>
    <select class="filter">
        <option value="">Select</option>
        <option value="3">Admin</option>
        <option value="2">Registered</option>
        <option value="1">Un-Registered</option>
    </select>
</div>