<?= $header; ?>
<main class="main users-user-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $breadcrumb; ?>
        <?= $buttons; ?>
        <div class="row panel">
            <!-- <div class="panel-title"><i class="fas fa-user fa-fw"></i> User Profile</div> -->
            <div class="panel-content" id="profile">
                <?php if (!$self): ?>
                <div class="row main-controls">
                    <input type="hidden" name="id" value="<?= $user_id; ?>" id="id">
                    <select name="group" class="pull-left btn-list-control" id="user-group">
                        <option id="group-none">Select</option>
                        <option value="0" id="group0">Locked</option>
                        <option value="1" id="group1">Un-registered</option>
                        <option value="2" id="group2">Registered</option>
                        <option value="3" id="group3">Moderator</option>
                        <option value="4" id="group4">Administrator</option>
                    </select>
                    <hr class="delete-hr">
                    <button type="button" class="btn btn-stop btn-delete" title="Delete"><i class="fas fa-trash fa-fw"></i> Delete</button>
                </div>
                <?php endif ?>
                <div class="row alert-area"></div>
                <div class="flex-row mt-15 profile">
                    <div class="profile-left">
                        <div class="row">
                            <div class="profile-avatar">
                                <img src="/uploads/account/<?= $avatar; ?>" alt="Account Avatar">
                            </div>
                        </div>
                        <hr class="row profile mv-35">
                        <div class="row">
                            <span style="top: -46px;">STATUS</span>
                            <div class="row mb-25 is-online">
                                <i class="fas fa-circle fa-fw"></i> <p><?= $status; ?></p>
                            </div>
                            <div class="row mb-25">
                                <div class="label">Member Since</div><p><?= $registered; ?> <i class="days-ago"><?= $sd_days_ago; ?></i></p>
                            </div>
                            <div class="row">
                                <div class="label">Last Active</div> <p><?= $last_active; ?> <i class="days-ago"><?= $la_days_ago; ?></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="profile-right space-even">
                        <div class="row mb-30">
                            <div class="text-large" style="font-weight: 700;"><?= $firstname; ?> <?= $lastname; ?></div>
                            <em style="font-weight: 600;"><?= $group; ?></em>
                        </div>
                        <div class="row mb-30 profile-links">
                            <a href="mailto:<?= $email; ?>" class="btn btn-default mr-25"><i class="fas fa-comment-alt fa-fw"></i> Send Message</a> 
                            <a href="#">Report User</a>
                        </div>
                        <div class="row profile-tabs mb-30">
                            <div class="profile-tab inline"><i class="fas fa-user fa-fw"></i> About</div>
                        </div>
                        <div class="row mb-25">
                            <div class="row mb-50" style="color: #999;">CONTACT INFORMATION</div>
                            <div class="flex-row mb-20">
                                <div class="space-even label" style="width: 100px">Phone:</div> <p class="space-even"><?= $phone; ?></p>
                            </div>
                            <div class="flex-row mb-20">
                                <div class="space-even label" style="width: 100px">Country:</div> <p class="space-even"><?= $country; ?></p>
                            </div>
                            <div class="flex-row mb-20">
                                <div class="space-even label" style="width: 100px">Email:</div> <p class="space-even"><a href="mailto:<?= $email; ?>"><?= $email; ?></a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row mb-50" style="color: #999;">BASIC INFORMATION</div>
                            <div class="flex-row mb-20">
                                <div class="space-even label" style="width: 100px">Birthday:</div> <p class="space-even"><?= $birthday; ?></p>
                            </div>
                            <div class="flex-row mb-20">
                                <div class="space-even label" style="width: 100px">Gender:</div> <p class="space-even"><?= $gender; ?></p>
                            </div>
                            <div class="flex-row mb-20">
                                <div class="space-even label" style="width: 100px">Bio:</div> <p class="space-even"><?= $bio; ?></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

var ids = $('#id').serializeArray();

$('body').on('click', '.btn-email', function() {
    var btn = $(this);
    var btnhtml = btn.html();
    setTimeout(function() {
        btn.prop('disabled', false).html(btnhtml);
    }, 3000);
});

$('#user-group').on('change', function() {
    editUser($(this).val());
});

function editUser(group) {
    $.post('/users/edit', {ids: ids, group: group}, function(response) {
        if ($.trim(response)) {
            var json = JSON.parse(response);
            switch (json.group) {
                case '0':
                    json.group = 'Locked';
                    break;
                case '1':
                    json.group = 'Un-registered';
                    break;
                case '2':
                    json.group = 'Registered';
                    break;
                case '3':
                    json.group = 'Moderator';
                    break;
                case '4':
                    json.group = 'Administrator';
                    break;
                default:
                    json.group = 'Unknown';
                    break;
            }
            $('.group').text(json.group);
            $('.alert-area').html('<div class="alert ' + json.alert + '"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
        }
    });
}

if ($('.is-online p').text() == 'Online') {
    $('.is-online').find('i').addClass('text-green').removeClass('text-red');
}
if ($('.is-online p').text() == 'Offline') {
    $('.is-online').find('i').addClass('text-red').removeClass('text-green');
}

</script>
<?= $footer; ?>