<?= $header; ?>
<main class="main not-found-page">
    <div class="row pt-60 pb-60">
        <div class="wrapper">
            <div class="row pt-60">
                <h1 class="heading-large"><?= $code; ?></h1>
                <div class="row mt-25">
                    Return to the <a href="/dashboard">dashboard</a>.
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    $('body').addClass('not-found-page-body');
</script>
<?= $footer; ?>