<?= $header; ?>
<main class="main home-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $breadcrumb; ?>
        <?= $buttons; ?>
        <div class="row mb-15">
            <div class="row panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="flex-row pb-15 calendar-head">
                            <div class="size-even">
                                <a href="/calendar/new" class="btn btn-default btn-cal-add"><i class="fas fa-plus fa-fw"></i> New Event</a>
                            </div>
                            <div class="size-even text-center">
                                <span class="this-month"></span>
                            </div>
                            <div class="size-even text-right">
                                <button type="button" class="btn-prev"><i class="fas fa-caret-left fa-fw"></i></button>
                                <button type="button" class="btn btn-default btn-today"><i class="fas fa-calendar-day fa-fw"></i> Today</button>
                                <button type="button" class="btn-next"><i class="fas fa-caret-right fa-fw"></i></button>
                                <button type="button" class="btn btn-default no-load btn-month ml-10"><i class="fas fa-calendar-alt fa-fw"></i> Month</button>
                                <button type="button" class="btn btn-default no-load btn-week"><i class="fas fa-calendar-week fa-fw"></i> Week</button>
                                <button type="button" class="btn btn-default no-load btn-day"><i class="fas fa-calendar-day fa-fw"></i> Day</button>
                            </div>
                        </div>
                        <div class="calendar">
                            <table id="calendar-table"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#calendar-table').calendar({
    view : 'month',
    post : '/calendar/get-events'
});

</script>
<?= $footer; ?>