<?= $header; ?>
<main class="main home-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $buttons; ?>
        <div class="flex-row mb-15">
            <div class="panel col-60 mr-15">
                <div class="panel-content">
                    <div class="row alert-area"></div>
                    <div class="row main-controls">
                        <?php if (!$edit) : ?>
                        <button type="button" class="btn btn-go btn-save" disabled><i class="fas fa-save fa-fw"></i> Save</button>    
                        <?php endif ?>
                        <?php if ($edit) : ?>
                        <button type="button" class="btn btn-go btn-update" disabled><i class="fas fa-save fa-fw"></i> Update</button>    
                        <?php endif ?>
                    </div>
                    <div class="row">
                        <form id="calendar-form" class="flex-row">
                            <div class="col-90 mr-25">
                                <div class="row mr-15">
                                    <div class="row mr-15">
                                        <label class="row mr-15">Title:<input type="text" name="title" class="row" id="title"></label>
                                    </div>
                                    <hr class="row basic mv-15">
                                    <div class="row mb-15">
                                        <label class="col-30 mr-15">Start Date:<input type="date" name="start_date" class="row" id="start-date"></label>
                                        <label class="col-20">Start Time:<input type="time" name="start_time" class="row" id="start-time"></label>
                                    </div>
                                    <div class="row">
                                        <label class="col-30 mr-15">End Date:<input type="date" name="end_date" class="row" id="end-date"></label>
                                        <label class="col-20">End Time:<input type="time" name="end_time" class="row" id="end-time"></label>
                                    </div>
                                    <hr class="row basic mv-15">
                                    <div class="row">
                                        <label class="row">Description:
                                            <textarea name="description" class="row" id="description"></textarea>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <label class="row">Color:</label>
                                <input type="color" name="color" class="row mb-15" id="color" value="#142f36">
                                <label class="row">Background:</label>
                                <input type="color" name="background" class="row" id="background" value="#b9dae2">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel col-40">
                <div class="panel-title"></div>
                <div class="panel-content calendar" style="position: relative;">
                    <div class="event" data-id="` + v.id + `" style="margin-top: 50%;">
                        <p><em class="cal-title"></em> - <em class="cal-description"></em></p>
                        <div class="event-large" style="left: 50%; bottom: 160%;">
                            <div class="event-large-header">
                                <i class="fas fa-calendar-alt fa-fw"></i> <em class="cal-title"></em>
                                <button type="button"><i class="fas fa-times fa-fw"></i> Close</button>
                                <button type="button"><i class="fas fa-pencil-alt fa-fw"></i> Edit</button>
                            </div>
                            <p>
                                <em class="cal-description"></em>
                                <span>
                                    <i class="far fa-clock fa-fw"></i>
                                    <em class="cal-start-date"></em>
                                    <em class="cal-start-time"></em>
                                    <em class="cal-end-date"></em>
                                    <em class="cal-end-time"></em>
                                </span>
                            </p>
                            <div class="arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<?php if (!$edit): ?>
<script type="text/javascript">

$('body').on('click', '.btn-save', function() {
    $.post('/calendar/save', $('#calendar-form').serialize(), function(response) {
        if ($.trim(response)) {
            var json = JSON.parse(response);
            $('.alert-area').html('<div class="alert ' + json.alert + ' row text-left mb-15"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
        }
    });
});

</script>
<?php endif ?>
<?php if ($edit): ?>
    
<script type="text/javascript">

var url = window.location.pathname.split('/');
var id = url[3];

$('#calendar-form').deserialize({
    getJson : '/calendar/getEventJson/' + id
});

$('body').on('click', '.btn-update', function() {
    $.post('/calendar/update', $('#calendar-form').serialize() + '&event_id=' + id, function(response) {
        if ($.trim(response)) {
            var json = JSON.parse(response);
            $('.alert-area').html('<div class="alert ' + json.alert + ' row text-left mb-15"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
        }
    });
});

</script>
<?php endif ?>
<script type="text/javascript">
    
    drawPreview();
    
    $('body').on('keyup change', '#calendar-form', function() {
        drawPreview();
        checkDatesAndTimes();
    });
    
    function drawPreview() {
        $('.cal-title').text($('#title').val());
        $('.cal-description').text($('#description').val());
        $('.event-large-header').css({'color' : $('#color').val(), 'background-color' : $('#background').val()});
        $('.event').css({'color' : $('#color').val(), 'background-color' : $('#background').val()});
        $('.cal-start-date').text(getFormattedDate($('#start-date').val()));
        $('.cal-start-time').text($('#start-time').val());
        $('.cal-end-date').text(getFormattedDate($('#end-date').val()));
        $('.cal-end-time').text($('#end-time').val());
    }

    function getFormattedDate(date) {
        var date = new Date(date);
        var year = date.getFullYear();
        var month = (1 + date.getMonth()).toString();
        var day = date.getDate().toString();

        month = month.length > 1 ? month : '0' + month;
        day = day.length > 1 ? day : '0' + day;
        
        return month + '/' + day + '/' + year;
    }

    function checkDatesAndTimes() {
        var start_date = Date.parse($('#start-date').val() + ' 00:00:00');
        var end_date = Date.parse($('#end-date').val() + ' 00:00:00');

        console.log(start_date, end_date);

        if (start_date > end_date) {
            $('.btn-go').attr('disabled', true);
            $('#end-date').after('<div class="alert-attached">End date cannot be before the start date.</div>');
        } else {
            $('.btn-go').removeAttr('disabled');
        }
    }
        
</script>
<?= $footer; ?>