<?= $header; ?>
<main class="main account-page">
    <?= $nav; ?>
    <div class="workarea">
        <?= $breadcrumb; ?>
        <?= $buttons; ?>
        <div class="row panel">
            <div class="panel-title"><i class="fas fa-user-cog fa-fw"></i> <?= $fullname; ?></div>
            <div class="panel-content" id="account">
                <div class="row main-controls">
                    <button type="button" class="btn btn-go btn-save"><i class="fas fa-save fa-fw"></i> Save</button>
                </div>
                <div class="row alert-area"></div>
                <div class="flex-row mt-15 account">
                    <div class="account-left">
                        <div class="row">
                            <div class="account-avatar">
                                <img src="/uploads/account/<?= $avatar; ?>" alt="Account Avatar" class="row">
                                <form action="/account/uploadAvatar" class="dropzone needsclick dz-clickable row" id="dropzone"></form>
                            </div>
                        </div>
                        <div class="avatar-alert-area"></div>
                        <hr class="row account-hr mt-45 mb-35">
                        <div class="row">
                            <span style="top: -45px;">STATUS</span>
                            <div class="row mb-25 is-online">
                                <i class="fas fa-circle fa-fw"></i> <p><?= $status; ?></p>
                            </div>
                        </div>
                    </div>
                    <form class="account-right pt-10 space-even">
                        <hr class="row basic mb-50">
                        <div class="flex-row mb-50">
                            <span style="top: -61px;">ACCOUNT SETTINGS</span>
                            <div class="inline mr-50">
                                <label for="privacy" class="inline">Confirm Logouts:</label> 
                                <input type="checkbox" name="logout_setting">
                            </div>
                            <div class="inlinle">
                                <label for="theme" class="inline">Theme:</label>
                                <select name="theme" id="theme-select">
                                    <option hidden>Select</option>
                                    <option value="0">Light</option>
                                    <option value="1">Dark</option>
                                </select>
                            </div>
                        </div>
                        <hr class="row basic mb-50">
                        <div class="row">
                            <span style="top: -61px;">USER INFORMATION</span>
                            <div class="flex-row">
                                <div class="size-even mr-25">
                                    <div class="row mb-15">
                                        <label class="row required">Firstname:</label>
                                        <input type="text" name="firstname" placeholder="John" class="row">
                                    </div>
                                    <div class="row mb-15">
                                        <label class="row required">Lastname:</label>
                                        <input type="text" name="lastname" placeholder="Doe" class="row">
                                    </div>
                                    <div class="row mb-15">
                                        <label class="row">Phone:</label>
                                        <input type="text" name="phone" placeholder="8085551234" class="row">
                                    </div>
                                    <div class="row mb-15">
                                        <label class="row required">Email:</label>
                                        <input type="email" name="email" placeholder="person@email.com" class="row">
                                    </div>
                                    <div class="row mb-15">
                                        <label class="row">Birthday:</label>
                                        <div class="row">
                                            <select name="day">
                                                <option hidden>Day</option>
                                                <?php for ($i = 1; $i < 32; $i++): ?>
                                                <option value="<?= $i; ?>"><?= $i; ?></option>
                                                <?php endfor ?>
                                            </select>
                                            <select name="month">
                                                <option hidden>Month</option>
                                                <option value="01">January</option>
                                                <option value="02">February</option>
                                                <option value="03">March</option>
                                                <option value="04">April</option>
                                                <option value="05">May</option>
                                                <option value="06">June</option>
                                                <option value="07">July</option>
                                                <option value="08">August</option>
                                                <option value="09">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                            <select name="year">
                                                <option hidden>Year</option>
                                                <?php for ($i = $year; $i > 1901; $i--): ?>
                                                <option value="<?= $i; ?>"><?= $i; ?></option>
                                                <?php endfor ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-15">
                                        <label for="country" class="row">Country:</label>
                                        <div class="row">
                                            <select name="country">
                                                <option hidden>Select</option>
                                                <?php foreach ($countries as $country): ?>
                                                <option value="<?= $country['code']; ?>, <?= $country['name']; ?>"><?= $country['name']; ?></option>
                                                <?php endforeach ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-15">
                                        <label for="gender" class="row inline">Gender:</label>
                                        <label class="inline">Male <input type="radio" name="gender" value="Male" class="mr-5"></label>
                                        <label class="inline">Female <input type="radio" name="gender" value="Female" class="mr-5"></label>
                                        <label class="inline">Other <input type="radio" name="gender" value="Other" class="mr-5"></label>
                                    </div>
                                </div>
                                <div class="size-even">
                                    <div class="row">
                                        <label class="row">Bio:</label>
                                        <textarea name="bio" class="row" style="max-width: 639px"></textarea>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <hr class="row basic mv-50">
                        <div class="row mb-120">
                            <span style="top: -61px;">PASSWORD</span>
                            <div class="flex-row">
                                <div class="size-even mr-15">
                                    <label class="row">Password: 
                                        <input type="password" name="password" placeholder="New password" class="row">
                                    </label>
                                </div>
                                <div class="size-even">
                                    <label class="row">Confirm Password:<input type="password" name="confirm" placeholder="Repeat your password" class="row"></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

var current_email = '';

$('.account').deserialize({
    form : '.account-page',
    getJson : '/account/getAccountJson/'
});

$('.account').validate({
    url : '/account/validate-live',
    button : '.btn-save'
});

Dropzone.options.dropzone = {
    paramName: 'avatar', // The name that will be used to transfer the file
    maxFilesize: 1, // MB
    maxFiles: 1,
    acceptedFiles: '.jpg, .png, .gif',
    dictDefaultMessage: '<i class="fas fa-upload fa-fw"></i> Upload Image',
    success: function(file, response) {
        var json = JSON.parse(response);
        $('.alert').remove();
        $('.loading').remove();
        $('.avatar-alert-area').html('<div class="alert mt-10 ' + json.alert + '"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-continue"><i class="fas fa-times fa-fw"></i></button>');
        $('.account-avatar img').attr('src', '/images/uploads/account/' + json.filename);
    }
};

$('body').on('click', '.btn-save', function() {
    $.post('/account/validate', $('form').serialize(), function(response) {
        // $('body').prepend(response);
        if ($.trim(response)) {
            var json = JSON.parse(response);
            $('.alert-area').html('<div class="alert mb-15 ' + json.alert + '"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
            if (json.password_changed) {
                $('.alert-area').html('<div class="row mb-15 alert ' + json.alert + '"><strong>' + json.alert + '!</strong> ' + json.message + ' You will be logged out in (<p class="inline"></p>)');
                countdown();
                setInterval(countdown, 1000);
            }
        }
    }).always(function() {
        $('html, body').animate({
            scrollTop: 0
        }, 500);
    });
});

var timer = 4;
function countdown() {
    timer = --timer;
    $('.alert p').html(timer);
    if (timer <= 0) {
        window.location.replace('/login');
    }
}

$('body').on('click', '.btn-send', function() {   
    $.post('/account/send', $('#activation-form').serialize(), function(response) {
        if ($.trim(response)) {
            $('.user-form').html(response);
        }
    });
});

$('#email').on('keyup change', function() { 
    var email = $.trim($('#email').val().toLowerCase().replace(/\s+/g, ''));
    current_email = current_email.toLowerCase();
    $.post('/account/checkEmail', $('#account-form').serialize(), function(response) {
        if (email != current_email) {
            if (email.length > 5 && email == response) {
                $('.email .alert-attached').remove();
                $('#email').css({'border':'1px solid #f15454'});
                $('.email').append('<div class="alert-attached"><div class="alert-attached-arrow"></div>Email taken.</div>');
            }
        }
    });
});

$(document).on('change', '#theme-select', function() {
    var theme =  $(this).val();
    $.post('/account/changeThemeSetting', {'theme' : theme}, function(response) {
        if ($.trim(response)) {
            var json = parseInt(JSON.parse(response));
            if (json == 0) {
                $('body').removeClass('dark-theme').addClass('light-theme');
            }
            if (json == 1) {
                $('body').addClass('dark-theme').removeClass('light-theme');
            }
        }
    }); 
});

if ($('.is-online p').text() == 'Online') {
    $('.is-online').find('i').addClass('text-green').removeClass('text-red');
}
if ($('.is-online p').text() == 'Offline') {
    $('.is-online').find('i').addClass('text-red').removeClass('text-green');
}

$('textarea').css({'max-width' : $('textarea').parent().outerWidth()});
$(window).resize(function() {
    $('textarea').removeAttr('style').css({'max-width' : $('textarea').parent().outerWidth()});
});

</script>
<?= $footer; ?>