<?= $header; ?>
<main class="main account-page">
    <div class="row main-panel mt-15">
        <div class="row panel-content account">
            <p class="row mt-60 text-center text-large">Your account is pending activation.</p>
        </div>
    </div>
</main>
<?= $footer; ?>