<?= $header; ?>
<main class="main forgot-page">
    <div class="row pt-15 pb-15">
        <div class="col user-form text-center">
            <div class="row reset-form">
                <h1 class="pb-15 heading-medium text-center">Request Password Reset</h1>
                <div class="alert-area"></div>
                <form id="reset-form" class="row fancy-form">
                    <div class="row fancy-row mb-15 email">
                        <label for="email">Email</label>
                        <input type="email" name="email" required id="email" class="row">
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-default btn-send row"><i class="fas fa-paper-plane fa-fw"></i> Send Request</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#reset-form').validate({
    url : '/account/validate-live',
    button : '.btn-send'
});
$('#reset-form').fancyForm();

$('body').on('click', '.btn-send', function() {
    $.post('/account/send-reset-request', $('#reset-form').serialize(), function(response) {
        // $('body').prepend(response);
        if ($.trim(response)) {
            var json = JSON.parse(response);
            $('.alert-area').html('<div class="row mb-15 alert ' + json.alert + '">' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button></div>');
        }
    });
});

</script>
<?= $footer; ?>