<?= $header; ?>
<main class="main login-page">
    <div class="row pt-15 pb-15">
        <div class="col user-form text-center">
            <div class="row login-form">
                <h1 class="pb-15 heading-medium text-center">Login</h1>
                <div class="alert-area"></div>
                <form id="login-form" class="row fancy-form">
                    <div class="row fancy-row mb-15">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="row" required>
                    </div>
                    <div class="row fancy-row mb-15">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="row" required>
                    </div>
                    <div class="row fancy-row">
                        <button type="button" class="btn btn-default btn-go btn-login row"><i class="fas fa-sign-in-alt fw-fw"></i> Login</button>
                    </div>
                    <a href="/account/forgot" class="inline mt-15 text-center">Forgot password?</a>
                    <hr class="row mt-15 mb-30">
                    <div class="row mb-15">
                        <p class="row mb-15">Don't have an account?</p>
                        <a href="/signup" class="btn btn-default row"><i class="fas fa-pencil-alt fa-fw"></i> Create an account</a>
                    </div>
                    <input type="text" name="red_herring" class="red-herring">
                </form>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#login-form').validate({
    url: '/login/validate-live',
    button: '.btn-login',
    val_pw_str: false
});

$('#login-form').fancyForm();

$('body').on('click', '.btn-login', function() {
    $.post('/login/validate', $('#login-form').serialize(), function(response) {
        // $('body').prepend(response);
        if ($.trim(response)) {
            var json = JSON.parse(response);
            if (json.alert == 'success') {
                location.replace(json.route);
            } else {
                $('.alert-area').html('<div class="alert ' + json.alert + ' row text-left mb-15"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
            }
        }
    });
});

$('#login-form').keypress(function(e) {
    if (e.which == 13) {
        $('.btn-login').click();
    }
});

</script>
<?= $footer; ?>