<?= $header; ?>
<main class="main reset-page">
    <div class="row pt-60 pb-60">
        <div class="col user-form text-center">
            <div class="row reset-form">
                <?php if ($invalid): ?>
                <div class="alert error"><?= $invalid_token; ?><button type="button" class="alert-redirect"><i class="fas fa-times fa-fw"></i></button></div>
                <?php else: ?>
                <h1 class="pb-15 heading-medium text-center">Reset Your Password</h1>
                <div class="alert-area"></div>
                <form id="reset-form" class="row fancy-form change-pw">
                    <div class="row fancy-row mb-15">
                        <label for="password">New password</label>
                        <input type="password" name="password" required class="row">
                    </div>
                    <div class="row fancy-row mb-15">
                        <label for="confirm">Repeat password</label>
                        <input type="password" name="confirm" required class="row">
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-default btn-save row"><i class="fas fa-save fa-fw"></i> Save</button>
                    </div>  
                </form>
                <?php endif ?>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#reset-form').validate({
    url : '/account/validate-live',
    button : '.btn-save'
});
$('#reset-form').fancyForm();

$('body').on('click', '.btn-save', function() {
    $.post('/account/save-new-password', $('#reset-form').serialize(), function(response) {
        // $('body').prepend(response);
        if ($.trim(response)) {
            var json = JSON.parse(response);
            $('.alert-area').html('<div class="row mb-15 alert ' + json.alert + '"><strong>' + json.alert + '!</strong> ' + json.message + '<br> You will be redirected in (<p class="inline"></p>)');
            countdown();
            setInterval(countdown, 1000);
        }
    });
});
var timer = 4;
function countdown() {
    timer = --timer;
    $('.alert p').html(timer);
    if (timer <= 0) {
        window.location.replace('/login');
    }
}

</script>
<?= $footer; ?>