<?= $header; ?>
<main class="main register-page">
    <div class="row pt-15 pb-15">
        <div class="col user-form text-center">
            <div class="row signup-form">
                <form id="signup-form" class="row fancy-form">
                    <h1 class="pb-15 heading-medium text-center">Signup</h1>
                    <div class="alert-area"></div>
                    <div class="row fancy-row mb-15">
                        <label for="firstname" class="required">First Name</label>
                        <input type="text" name="firstname" required class="row">
                    </div>
                    <div class="row fancy-row mb-15">
                        <label for="lastname" class="required">Last Name</label>
                        <input type="text" name="lastname" required class="row">
                    </div>
                    <div class="row fancy-row mb-15">
                        <label for="email" class="required">Email</label>
                        <input type="email" name="email" required class="row">
                    </div>
                    <div class="row fancy-row mb-15">
                        <label for="phone">Phone</label>
                        <input type="phone" name="phone" class="row">
                    </div>
                    <div class="row fancy-row mb-15">
                        <label for="password" class="required">Password</label>
                        <input type="password" name="password" required class="row">
                    </div>
                    <div class="row fancy-row mb-15">
                        <label for="confirm" class="required">Repeat Password</label>
                        <input type="password" name="confirm" required class="row">
                    </div>
                    <div class="row mb-15">
                        <button type="button" class="btn btn-default btn-signup row"><i class="fas fa-pencil-alt fa-fw"></i> Signup</button>
                    </div>
                    <p class="text-small text-left">By signing up you are agreeing to our <a href="/terms">terms of service</a> and <a href="/privacy">privacy policy</a>.</p>
                    <hr class="row mt-15 mb-30">
                    <div class="row mb-15 text-center">
                        <p class="row mb-15">Already have an account?</p>
                        <a href="/login" class="btn btn-default row"><i class="fas fa-sign-in-alt fa-fw"></i> Login</a>
                    </div>
                    <input type="text" name="red_herring" class="red-herring">
                </form>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

$('#signup-form').validate({
    url: '/signup/validate-live',
    button: '.btn-signup',
    required_check: false
});

$('#signup-form').fancyForm();

$('body').on('click', '.btn-signup', function() {
    $.post('/signup/validate', $('#signup-form').serialize(), function(response) {
        // $('body').prepend(response);
        if ($.trim(response)) {
            $('.alert-attached').remove();
            $(document).removeClass('error');
            var json = JSON.parse(response);
            if (json.errors) {
                $.each(json.errors, function(k, v) {
                    $('input[name="' + k + '"]').addClass('error');
                    $('input[name="' + k + '"]').after('<div class="alert-attached">' + v + '</div>');
                });
            } else {
                $('.alert-area').html('<div class="alert ' + json.alert + ' row text-left"><strong>' + json.alert + '!</strong> ' + json.message + ' <button type="button" class="alert-close"><i class="fas fa-times fa-fw"></i></button>');
            }
        }
    });
});

</script>
<?= $footer; ?>